
$defaultDuration: .2s;
$defaultTiming: cubic-bezier(0.25, 0.8, 0.25, 1);

@mixin kc-animation ($duration, $timing) {
    animation-duration: $duration;
    animation-timing-function: $timing;
    animation-fill-mode: both;
    animation-play-state: running;
    -webkit-animation-duration: $duration;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-fill-mode: both;
    -webkit-animation-play-state: running;
}

@mixin transform ($value) {
    transform: $value;
    -webkit-transform: $value;
}

@mixin animation-name ($value) {
    animation-name: $value;
    -webkit-animation-name: $value;
}

@mixin kc-keyframes($name) {
    @keyframes #{$name} {
        @content
    };
    @-webkit-keyframes #{$name} {
        @content
    };
}

@include kc-keyframes(popIn) {
    0% {
        @include transform(scale(0));
    }
    50% {
        @include transform(scale(1.2));
    }
    100% {
        @include transform(scale(1));
    }
}

.kca- {
    &popIn {
        @include animation-name(popIn);
        @include kc-animation($defaultDuration, $defaultTiming);
    }
}
